<!DOCTYPE html>
<html lang="es">

<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <title> Globo </title>
        <link rel = "shortcut icon" href = "images/icono.png" />

        <link rel = "stylesheet" href = "style/style.css">
    </head>
    <body>
        <div id="app">
            <div class="wrapper">
                <div class="mSuperior">
                    <img src = "images/globo.png"
                        width ="150">
                    <button class = "botonIniciarSesion der" @click="mostrarDiv">{{nombre}}</button>     
                </div>
                <div v-if="mostrar"> 
                        <form class = "formularioInicioSesion" id="formularioInicioSesion2">
                            <label class = "tap" for="usuario">Usuario:</label>
                            <input type="text" id="usuario" v-model="usuario" name="usuario"><br><br>
                            <label class = "tap" for="contrasena">Contraseña:</label>
                            <input type="password" id="contrasena" v-model="contrasena" name="contrasena"><br><br> 
                            <input style = "transform: translate(6%)" type="button" value="Iniciar sesión" @click="inicioSesion">
                            </form>
                </div> 
                <div class="mPerfil"> 
                    <img class = "perfil" src="images/fotoPerfil.jpeg"
                        alt = "Foto de perfil">
                    <div class = "perfilTex">
                        <h1> Jane Doe</h1>
                        <p><strong>Email: </strong>jane_doe@email.com</p>
                        <p><strong>Fecha de nacimiento: </strong>01/05/1996</p>
                        <p><strong>Telefono: </strong>987-578-5748</p>
                        <p><strong>Ciudad: </strong>Tokio, Japón</p>
                        <p class = "opacidad">Trabajando en <strong>Lawn N</strong></p>
                    </div>
                    <button v-if="mostrarBoton1" @click="alternarBoton" class = "mSeguir">Seguir</button>
                    <button v-else @click="alternarBoton" class = "mDejarSeguir">Dejar de Seguir</button>
                </div>


                <div class="mSobreMi"> 
                    <div class = "mSobreMiTex">
                        <h2>Sobre mí</h2>
                        <p>¡Hola a todos! Soy Jane, y actualmente<br>
                            vivo en la vibrante y emocionante<br>
                            ciudad de Tokio, Japon. Me encanta<br>
                            capturar ña esencia de la vida urbana a<br>
                            través de mi lente, explotando el<br>
                            contraste entre la arquitectura<br>
                            moderna y las tradiciones centenarias<br>
                            que conviven en esta metrópolis<br>
                            única. Desde rascacielos<br>
                            deslumbrantes y calles bulliciosas<br>
                            hasta templos serenos y jardines<br>
                            tranquilos, encuentro inspiración en<br>
                            cada rincón de esta increible ciudad.</p>
                    </div>
                </div>
                <div class="mBiografia">
                    <div class = "mBiografiaTex">
                        <p class = "opacidad2">Publicado hace 1 semana</p>
                        <img src="images/fotoSubida.jpeg"
                            width="530">
                    </div>
                    <button v-if="mostrarMG" class = "mMeGusta" @click="meGusta">Me gusta</button>
                    <button v-else @click="meGusta" class = "mNoMeGusta">No me Gusta</button>
                    <div class = "mCont">{{contMG}}</div>
    
                        <p class = "tap"><strong>Juan Perez </strong>WoW, esa foto es impresionante!</p>
                        <p class = "tap"><strong>Kathi Rennie </strong>Esa foto es espetacular, me trae muchos recuerdos</p>
                        <div v-for="item in comentarios" :key="comentarios.id" class="tap">
                            <span>{{ usuario + " "}}</span>
                            <span>{{ item.text }}</span>
                            <button class = "delete-btn" @click="eliminarComentario(id)">Eliminar</button>
                        </div>
                        
                        <div class = "tap">
                            <div id="comment-section"></div>
                                <form>
                                    <textarea v-model="comentario" name="comentario" rows="5"></textarea><br><br>
                                    
                                </form>      
                                <button class = "enviar-btn" @click="comentar">Comentar</button>
                        </div>
                    
                </div>
                    <div class="messageBox" v-if="mostrarAlerta">
                        <p>Primero debes iniciar sesion!</p>
                    </div>
            </div> 
        </div>
        <script src="https://unpkg.com/vue@2.4.2"></script>
        <script src="script/script.js"></script>
    </body>
</html>